<ion-header>
  <ion-toolbar>
    <ion-title>vecinos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-button color="ligth" (click)="navigateToHome('home')">Regresar</ion-button>
</ion-content>
